*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc{
    margin-top: 80px;
}

.calc-board{
    display: flex;
    align-items: center;
    gap: 20px;
}

.calc-details{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    padding: 10px;
    font-size: 16px;
}

button{
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 24px;
    margin-left: 10px;
}